<div _ngcontent-skq-c84="">
  <layout-full-width _ngcontent-skq-c84="" _nghost-skq-c81="" ng-reflect-slug="test-horizontal-scroll"
                     ng-reflect-info="[object Object]">
    <div _ngcontent-skq-c81="">
      <slot-manager _ngcontent-skq-c81="" _nghost-skq-c79="" ng-reflect-slug="test-horizontal-scroll"
                    ng-reflect-element="fb9677fd-afe8-4f00-ac96-bfff6a">
        <slice-flex _ngcontent-skq-c79="" _nghost-skq-c141="" ng-reflect-slug="test-horizontal-scroll"
                    ng-reflect-element="fb9677fd-afe8-4f00-ac96-bfff6a" class="custom-scroll"
                    style="margin: 0pt; margin-block: 0pt; margin-inline: 0pt; padding: 0pt; padding-block: 0pt; padding-inline: 0pt; border: 0px none; border-radius: 0px; background-size: cover; background-repeat: no-repeat; background-position: center top; place-content: stretch center; align-items: flex-start; flex-flow: column nowrap;">
          <slice-flex-slot id="element1" class="section" _ngcontent-skq-c141="" _nghost-skq-c140="" ng-reflect-slug="test-horizontal-scroll"
                           ng-reflect-slices="bbe1387d-9661-464b-a731-625ba1" ng-reflect-settings="[object Object]"
                           ng-reflect-dir="ltr" dir="ltr" style="flex: 0 1 auto; width: 100%; height: auto;">
            <slot-manager _ngcontent-skq-c140="" _nghost-skq-c79="" ng-reflect-slug="test-horizontal-scroll"
                          ng-reflect-element="bbe1387d-9661-464b-a731-625ba1">
              <piece-image _ngcontent-skq-c79="" _nghost-skq-c126="" ng-reflect-slug="test-horizontal-scroll"
                           ng-reflect-element="bbe1387d-9661-464b-a731-625ba1"
                           style="--imageObjectFit:cover; --imageObjectPosition:center;">
                <common-styles-render _ngcontent-skq-c126="" _nghost-skq-c117="" ng-reflect-styles="[object Object]"
                                      style="margin: 0pt; margin-block: 0pt; margin-inline: 0pt; border: 0px none; border-radius: 0px;">
                  <img _ngcontent-skq-c126=""
                       src="https://holyguide.es/images/inicio.jpg?impolicy=massimodutti-itxmediumhigh&amp;imwidth=1500&amp;imformat=chrome"
                       ng-reflect-ng-style="[object Object]" style="aspect-ratio: 2420 / 412; border-radius: 0px;">
                </common-styles-render>
              </piece-image>
            </slot-manager>
          </slice-flex-slot>
          <slice-flex-slot id="element2" class="section horizontal" _ngcontent-skq-c141="" _nghost-skq-c140="" ng-reflect-slug="test-horizontal-scroll"
                           ng-reflect-slices="40460164-29b2-4ba6-bfbc-846696" ng-reflect-settings="[object Object]"
                           ng-reflect-dir="ltr" dir="ltr" style="flex: 0 1 auto; width: 100%; height: auto;">
            <slot-manager _ngcontent-skq-c140="" _nghost-skq-c79="" ng-reflect-slug="test-horizontal-scroll"
                          ng-reflect-element="40460164-29b2-4ba6-bfbc-846696">
              <slice-flex _ngcontent-skq-c79="" _nghost-skq-c141="" ng-reflect-slug="test-horizontal-scroll"
                          ng-reflect-element="40460164-29b2-4ba6-bfbc-846696" class="horizontal-scroll"
                          style="margin: 0pt; margin-block: 0pt; margin-inline: 0pt; padding: 0pt; padding-block: 0pt; padding-inline: 0pt; border: 0px none; border-radius: 0px; background-size: cover; background-repeat: no-repeat; background-position: center top; place-content: stretch center; align-items: flex-start; flex-flow: row nowrap;">
                <slice-flex-slot _ngcontent-skq-c141="" _nghost-skq-c140="" ng-reflect-slug="test-horizontal-scroll"
                                 ng-reflect-slices="0b810904-39a2-46e3-a152-8763c7"
                                 ng-reflect-settings="[object Object]" ng-reflect-dir="ltr" dir="ltr"
                                 style="flex: 1 0 auto; width: 100%; height: auto;">
                  <slot-manager _ngcontent-skq-c140="" _nghost-skq-c79="" ng-reflect-slug="test-horizontal-scroll"
                                ng-reflect-element="0b810904-39a2-46e3-a152-8763c7">
                    <piece-image _ngcontent-skq-c79="" _nghost-skq-c126="" ng-reflect-slug="test-horizontal-scroll"
                                 ng-reflect-element="0b810904-39a2-46e3-a152-8763c7"
                                 style="--imageObjectFit:cover; --imageObjectPosition:center;">
                      <common-styles-render _ngcontent-skq-c126="" _nghost-skq-c117=""
                                            ng-reflect-styles="[object Object]"
                                            style="margin: 0pt; margin-block: 0pt; margin-inline: 0pt; border: 0px none; border-radius: 0px;">
                        <img _ngcontent-skq-c126=""
                             src="https://holyguide.es/images/anchos.jpg?impolicy=massimodutti-itxmediumhigh&amp;imwidth=1500&amp;imformat=chrome"
                             ng-reflect-ng-style="[object Object]"
                             style="aspect-ratio: 1756 / 1096; border-radius: 0px;"></common-styles-render>
                    </piece-image>
                  </slot-manager>
                </slice-flex-slot>
                <slice-flex-slot _ngcontent-skq-c141="" _nghost-skq-c140="" ng-reflect-slug="test-horizontal-scroll"
                                 ng-reflect-slices="d0bc1b06-92c0-45ae-9120-3358be"
                                 ng-reflect-settings="[object Object]" ng-reflect-dir="ltr" dir="ltr"
                                 style="flex: 1 0 auto; width: 100%; height: auto;">
                  <slot-manager _ngcontent-skq-c140="" _nghost-skq-c79="" ng-reflect-slug="test-horizontal-scroll"
                                ng-reflect-element="d0bc1b06-92c0-45ae-9120-3358be">
                    <piece-image _ngcontent-skq-c79="" _nghost-skq-c126="" ng-reflect-slug="test-horizontal-scroll"
                                 ng-reflect-element="d0bc1b06-92c0-45ae-9120-3358be"
                                 style="--imageObjectFit:cover; --imageObjectPosition:center;">
                      <common-styles-render _ngcontent-skq-c126="" _nghost-skq-c117=""
                                            ng-reflect-styles="[object Object]"
                                            style="margin: 0pt; margin-block: 0pt; margin-inline: 0pt; border: 0px none; border-radius: 0px;">
                        <img _ngcontent-skq-c126=""
                             src="https://holyguide.es/images/anchos.jpg?impolicy=massimodutti-itxmediumhigh&amp;imwidth=1500&amp;imformat=chrome"
                             ng-reflect-ng-style="[object Object]"
                             style="aspect-ratio: 1756 / 1096; border-radius: 0px;"></common-styles-render>
                    </piece-image>
                  </slot-manager>
                </slice-flex-slot>
                <slice-flex-slot _ngcontent-skq-c141="" _nghost-skq-c140="" ng-reflect-slug="test-horizontal-scroll"
                                 ng-reflect-slices="852921d6-5413-4b9a-9718-f269ec"
                                 ng-reflect-settings="[object Object]" ng-reflect-dir="ltr" dir="ltr"
                                 style="flex: 1 0 auto; width: 100%; height: auto;">
                  <slot-manager _ngcontent-skq-c140="" _nghost-skq-c79="" ng-reflect-slug="test-horizontal-scroll"
                                ng-reflect-element="852921d6-5413-4b9a-9718-f269ec">
                    <piece-image _ngcontent-skq-c79="" _nghost-skq-c126="" ng-reflect-slug="test-horizontal-scroll"
                                 ng-reflect-element="852921d6-5413-4b9a-9718-f269ec"
                                 style="--imageObjectFit:cover; --imageObjectPosition:center;">
                      <common-styles-render _ngcontent-skq-c126="" _nghost-skq-c117=""
                                            ng-reflect-styles="[object Object]"
                                            style="margin: 0pt; margin-block: 0pt; margin-inline: 0pt; border: 0px none; border-radius: 0px;">
                        <img _ngcontent-skq-c126=""
                             src="https://holyguide.es/images/anchos.jpg?impolicy=massimodutti-itxmediumhigh&amp;imwidth=1500&amp;imformat=chrome"
                             ng-reflect-ng-style="[object Object]"
                             style="aspect-ratio: 1756 / 1096; border-radius: 0px;"></common-styles-render>
                    </piece-image>
                  </slot-manager>
                </slice-flex-slot>
                <slice-flex-slot _ngcontent-skq-c141="" _nghost-skq-c140="" ng-reflect-slug="test-horizontal-scroll"
                                 ng-reflect-slices="c85cbd93-b095-42ac-aec3-787017"
                                 ng-reflect-settings="[object Object]" ng-reflect-dir="ltr" dir="ltr"
                                 style="flex: 1 0 auto; width: 100%; height: auto;">
                  <slot-manager _ngcontent-skq-c140="" _nghost-skq-c79="" ng-reflect-slug="test-horizontal-scroll"
                                ng-reflect-element="c85cbd93-b095-42ac-aec3-787017">
                    <piece-image _ngcontent-skq-c79="" _nghost-skq-c126="" ng-reflect-slug="test-horizontal-scroll"
                                 ng-reflect-element="c85cbd93-b095-42ac-aec3-787017"
                                 style="--imageObjectFit:cover; --imageObjectPosition:center;">
                      <common-styles-render _ngcontent-skq-c126="" _nghost-skq-c117=""
                                            ng-reflect-styles="[object Object]"
                                            style="margin: 0pt; margin-block: 0pt; margin-inline: 0pt; border: 0px none; border-radius: 0px;">
                        <img _ngcontent-skq-c126=""
                             src="https://holyguide.es/images/anchos.jpg?impolicy=massimodutti-itxmediumhigh&amp;imwidth=1500&amp;imformat=chrome"
                             ng-reflect-ng-style="[object Object]"
                             style="aspect-ratio: 1756 / 1096; border-radius: 0px;"></common-styles-render>
                    </piece-image>
                  </slot-manager>
                </slice-flex-slot>
                <slice-flex-slot _ngcontent-skq-c141="" _nghost-skq-c140="" ng-reflect-slug="test-horizontal-scroll"
                                 ng-reflect-slices="e9e1f91e-af07-4778-9a2b-6815c2"
                                 ng-reflect-settings="[object Object]" ng-reflect-dir="ltr" dir="ltr"
                                 style="flex: 1 0 auto; width: 100%; height: auto;">
                  <slot-manager _ngcontent-skq-c140="" _nghost-skq-c79="" ng-reflect-slug="test-horizontal-scroll"
                                ng-reflect-element="e9e1f91e-af07-4778-9a2b-6815c2">
                    <piece-image _ngcontent-skq-c79="" _nghost-skq-c126="" ng-reflect-slug="test-horizontal-scroll"
                                 ng-reflect-element="e9e1f91e-af07-4778-9a2b-6815c2"
                                 style="--imageObjectFit:cover; --imageObjectPosition:center;">
                      <common-styles-render _ngcontent-skq-c126="" _nghost-skq-c117=""
                                            ng-reflect-styles="[object Object]"
                                            style="margin: 0pt; margin-block: 0pt; margin-inline: 0pt; border: 0px none; border-radius: 0px;">
                        <img _ngcontent-skq-c126=""
                             src="https://holyguide.es/images/anchos.jpg?impolicy=massimodutti-itxmediumhigh&amp;imwidth=1500&amp;imformat=chrome"
                             ng-reflect-ng-style="[object Object]"
                             style="aspect-ratio: 1756 / 1096; border-radius: 0px;"></common-styles-render>
                    </piece-image>
                  </slot-manager>
                </slice-flex-slot>
              </slice-flex>
            </slot-manager>
          </slice-flex-slot>
          <slice-flex-slot id="element3" class="section" _ngcontent-skq-c141="" _nghost-skq-c140="" ng-reflect-slug="test-horizontal-scroll"
                           ng-reflect-slices="5ce3ec0f-45ea-4765-a978-3c67de" ng-reflect-settings="[object Object]"
                           ng-reflect-dir="ltr" dir="ltr" style="flex: 0 1 auto; width: 100%; height: 100vh;">
            <slot-manager _ngcontent-skq-c140="" _nghost-skq-c79="" ng-reflect-slug="test-horizontal-scroll"
                          ng-reflect-element="5ce3ec0f-45ea-4765-a978-3c67de">
              <piece-image _ngcontent-skq-c79="" _nghost-skq-c126="" ng-reflect-slug="test-horizontal-scroll"
                           ng-reflect-element="5ce3ec0f-45ea-4765-a978-3c67de"
                           style="--imageObjectFit:cover; --imageObjectPosition:center;">
                <common-styles-render _ngcontent-skq-c126="" _nghost-skq-c117="" ng-reflect-styles="[object Object]"
                                      style="margin: 0pt; margin-block: 0pt; margin-inline: 0pt; border: 0px none; border-radius: 0px;">
                  <img _ngcontent-skq-c126=""
                       src="https://holyguide.es/images/inicio.jpg?impolicy=massimodutti-itxmediumhigh&amp;imwidth=1500&amp;imformat=chrome"
                       ng-reflect-ng-style="[object Object]" style="aspect-ratio: 2420 / 412; border-radius: 0px;">
                </common-styles-render>
              </piece-image>
            </slot-manager>
          </slice-flex-slot>
        </slice-flex>
      </slot-manager>
    </div>
  </layout-full-width>
</div>
